@model IEnumerable<Posts.Models.PostModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Blog</h1>

<p>
    <a asp-action="Add" class="btn btn-primary text-light text-decoration-none">Add Post</a>
</p>

<div class="search">
    <form asp-action="Index">
            <div class="text-danger"></div>
            <div class="form-group">
                <input type="text" name="searchData" />
                <input type="submit" value="Search" class="btn btn-success" />
            </div>
    </form>
</div>

<div class="d-flex flex-row gap-3 flex-wrap">
@foreach (var item in Model) {
 
        <div class="card p-2 text-center">
            <div class="card-body">
                <h5 class="card-title text-black">@Html.DisplayFor(modelItem => item.Title)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Author)</h6>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary text-light text-decoration-none" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-primary text-light text-decoration-none" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a class="btn btn-primary text-light text-decoration-none" asp-action="Remove" asp-route-id="@item.ID">Delete</a>
                </div>
            </div>
        </div>

}
</div>